@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.counter-wrapper {
    background: #E1F0DA;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter-inner {
    text-align: center;
    background: #D4E7C5;
    padding: 30px;
    border-radius: 10px;
    max-width: 350px;
    width: 100%;
}

.counter-inner h1 {
    font-size: 26px;
    font-weight: 400;
    text-transform: capitalize;
}

.counter-inner h4 {
    font-size: 30px;
    margin: 30px 0;
    text-transform: uppercase;
    font-weight: 300;
}

.counter-inner h4 span {
    background: #cccfff;
    padding: 10px;
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-weight: 500;
}

.btn-wrapper button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background: #99BC85;
    font-size: 14px;
    text-transform: uppercase;
    color: #f5f5f5;
    margin: 0 5px;
    cursor: pointer;
}